@model List<User>
@{
    ViewData["Title"] = "AdminPage";
}

<div>
    <h1 class = "display-4"> Добро Пожаловать, @User.Identity.Name  </h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                     <a>Логин</a>
                 </th>
            <th>
                <a>Роль</a>
            </th>
            <th></th>
             </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
        </tr>
    }
    </tbody>
</table>

    <form method = 'post'>
    <input type="button" value="Выйти из аккаунта" onclick="location.href='@Url.Action("CookieClear", "Home")'" />
    </form>

</div>